/* .video-background { 
  position: relative;
  top: 40%;
  width: 100%;
  color: white;
}

body {
  overflow-x: hidden;
  color: #505962;
} */

.link {
	color: #007bff;
}

.link:hover {
	text-decoration: underline;
}